{% extends '@FrankStoreLocator/base.html.twig' %}

{% block body -%}
    <h1>Store edit</h1>

    {{ form(edit_form) }}

    <div id="map" style="width: 100%; height: 80%; min-height: 400px; min-width: 400px;"></div>

        <ul class="record_actions">
    <li>
        <a href="{{ path('admin_store') }}">
            Back to the list
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>

{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/frankstorelocator/js/storelocator_admin.js') }}"></script>

{% endblock javascripts %}